 body{
    margin: 0! important;
    padding: 0! important;
 }
.banner{
    height: 200px;
    padding: 20px;
}
.banner .report-cart-account {
    height: 80px;
    width: 100%;    
    text-align: right;
}
.banner .report-cart-account .account{
margin:5px 10px;
padding: 11px 21px;
text-decoration: none;
display: inline-block;
border: 1px solid red;
}
.banner .report-cart-account .report{
    margin: 5px 10px;
padding: 11px 21px;
text-decoration: none;
display: inline-block;
border: 1px solid red;
}
.banner .report-cart-account .cart{
    margin: 5px 10px;
padding: 11px 21px;
text-decoration: none;
display: inline-block;
border: 1px solid red;
}
.safe{
    height: auto;
    background: url("./picture/banner.png") center no-repeat;
    padding:20px;
}
.banner .report-cart-account .sreach{
    margin:0px 10px;
    display: inline-block;  
    text-align: center;
    
}
.banner  .report-cart-account .left, .banner .report-cart-account .center, .banner .report-cart-account .right {
  width: 60px;
  display: inline-block;
    
}
.banner .report-cart-account span {
  display: block;
  font-size: 15px;
}